@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@200;300;400;500;700&family=DM+Serif+Display:ital@0;1&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    color: #6F665B;
    letter-spacing: 5%;
}

body {
    background-color: #F7F3EC;
}

h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 50px;
    font-weight: lighter;
}

h2 {
    font-family: 'DM Serif Display', serif;
    font-style: italic;
    font-size: 35px;
    color: #2E2A24;
    margin-bottom: 30px;
    letter-spacing: 0;
}

.container-box {
    width: 63.61vw;
    height: 100vh;
    display: flex;
    box-sizing: border-box;
    margin: 0 auto;
    box-shadow: 0 12px 40px 0 #2B262114;
}

.form-box {
    width: 50%;
    background-color: #FBFAF6;
    padding: 0 44px 0 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

#logo {
    width: 160px;
    height: auto;
    display: block;
    margin: 0 auto;
}

form div {
    display: flex;
    flex-direction: column;
}

form input {
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

form input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
    background-color: #FFF;
    border: 1px solid #C2B091;
    border-radius: 2px;
}

form button,
form p {
    grid-column: span 2;
}

form button {
    width: 149px;
    color: #FBFAF6;
    background-color: #55613D;
    padding: 10px;
    border: none;
    border-radius: 5px;
    justify-self: center;
    transition: background-color 0.3s ease;
}

form button:hover {
    cursor: pointer;
    background-color: #424B2F;
    transition: background-color 0.3s ease;
}

form p {

    margin-top: -20px;
    text-align: center;
}

.image-box {
    width: 50%;
    background: url('/images/treeimage.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
}

.image-box p {
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    text-align: center;
    font-size: 12px;
    color: #fff;
    background-color: #473C34;
    padding: 5px;
}

a {
    font-weight: bold;
}

.image-box a {
    font-weight: normal;
    color: #fff;
}